
params {
  n_threads = 2
  run_dir = "/home/rmishra/backup/nina_mglia/10x_cropseq_nextflow"
  ref_dir = "/home/rmishra/backup/reference"
  outdir = "results"
  max_mem = "2G"

  data {
    dir = "${params.run_dir}/sequence"
    dir_10x = "${params.data.dir}/10x"
    dir_pcr = "${params.data.dir}/pcr"
    reads_10x = "${params.data.dir_10x}/*_R{1,2}*.f*q.gz"
    reads_pcr = "${params.data.dir_pcr}/*_R{1,2}*.f*q.gz"
  }

  kallisto {
    tx {
      dir = "${params.ref_dir}/rna_velo"
      index = "${params.kallisto.tx.dir}/index_lamanno.idx"
      t2g = "${params.kallisto.tx.dir}/t2c_velo.txt"
      intron_t2g = "${params.kallisto.tx.dir}/introns.t2c.txt"
      cdna_t2g = "${params.kallisto.tx.dir}/cdna.t2c.txt"
      tech = "10xv3"
    }
    pcr {
      dir = "${params.ref_dir}/rna_velo"
      index = "${params.kallisto.pcr.dir}/pcr/pcr_nina_index.idx"
      t2g = "${params.kallisto.pcr.dir}/t2c_velo.txt"
      tech = "10xv3"
    }
  }

  conda {
    dir = "${params.run_dir}/envs"
    env = "${params.conda.dir}/scanpy.yaml"
  }

  analysis {
    cell_umi_threshold = 1
    gene_cell_threshold = 1
  }

  geomux {
    min_umi = 5
    min_cells = 100
  }
}
