
params {
  n_threads = 2
  run_dir = "/home/noam/projects/single-cell/10x_cropseq_nextflow"
  outdir = "results"
  max_mem = "2G"

  data {
    dir = "${params.run_dir}/data"
    dir_10x = "${params.data.dir}/sequence/10x"
    dir_pcr = "${params.data.dir}/sequence/pcr"
    reads_10x = "${params.data.dir_10x}/*_R{1,2}*.f*q.gz"
    reads_pcr = "${params.data.dir_pcr}/*_R{1,2}*.f*q.gz"
  }

  kallisto {
    tx {
      dir = "${params.data.dir}/index/tx"
      index = "${params.kallisto.tx.dir}/transcriptome.idx"
      t2g = "${params.kallisto.tx.dir}/t2g.txt"
      tech = "10xv3"
    }
    pcr {
      dir = "${params.data.dir}/index/pcr"
      index = "${params.kallisto.pcr.dir}/index.idx"
      t2g = "${params.kallisto.pcr.dir}/t2g.txt"
      tech = "10xv3"
    }
  }

  conda {
    dir = "${params.run_dir}/envs"
    env = "${params.conda.dir}/scanpy.yaml"
  }

  analysis {
    cell_umi_threshold = 1
    gene_cell_threshold = 1
  }

  geomux {
    min_umi = 5
    min_cells = 100
  }
}
