params {
  n_threads = 15
  max_mem = "45GB"
  outdir = "results"
  tech = "10xv3"
  whitelist = "./whitelists/3M-3pgex-may-2023.txt"

  data {
    dir = "data"
    reads_10x = "sequence/10x/*_R{1,2}*.f*q.gz"
    reads_pcr = "sequence/pcr/*_R{1,2}*.f*q.gz"
    index = "index"
  }

  kallisto {
    tx {
        dir = "${params.data.index}/10x"
        index = "${params.kallisto.tx.dir}/index.idx"
        t2g = "${params.kallisto.tx.dir}/t2g.tsv"
        tech = "${params.tech}"
    }

    pcr {
        dir = "${params.data.index}/pcr"
        index = "${params.kallisto.pcr.dir}/index.idx"
        t2g = "${params.kallisto.pcr.dir}/t2g.tsv"
        tech = "${params.tech}"
    }
  }

  conda {
    dir = "envs"
    env = "${params.conda.dir}/env.yaml"
    enabled = "true"
  }

  analysis {
    cell_umi_threshold = 100
    gene_cell_threshold = 10
  }

  geomux {
    min_umi = 5
    min_cells = 200
  }
}
